<nav class="navbar navbar-light bg-light">
    <div class="container">
        <a href="/" class="navbar-brand h1">Blogram</a>

        <form class="form-inline my-2 my-lg-0">
            <a class="btn btn-primary text-white my-2 my-sm-0" href="/login">Login</a>
        </form>
    </div>
</nav>