<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h3>{{title}}</h3>
        <p class="card-text">{{content}}</p>
        <div class="text-muted my-1">{{createdDate}}</div>
        <a href="#">계속 읽기</a>
    </div>
</div>