{{#partial "header"}}
    {{> common/navigationBar}}
{{/partial}}

{{#partial "body"}}
    <div class="row">
        <div class="col-md-3">
            <div class="nav flex-column nav-pills" id="sidebar" role="tablist">
                <a class="nav-link" id="my-post-tab" href="/member/profile">나의 포스트</a>
                <a class="nav-link active" id="change-password-tab" href="/member/change-password">비밀번호 변경</a>
            </div>
        </div>
        <div class="col-md-9">
            <p class="h4 my-4">비밀번호 변경</p>

            <div id="password-change-success-alert" class="alert alert-success" role="alert" style="display: none;">
                비밀번호가 성공적으로 변경되었습니다!
                <button id="password-change-success-alert-close-btn" type="button" class="close " aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form>
                <div class="form-group row">
                    <label for="current-password" class="col-sm-3 col-form-label">현재 비밀번호</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control password-input" id="current-password" name="currentPassword"
                               required>
                        <div class="invalid-feedback" id="current-password-invalid-feedback">
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="new-password" class="col-sm-3 col-form-label">변경할 비밀번호</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control password-input" id="new-password" name="newPassword" required>
                        <div class="invalid-feedback" id="new-password-invalid-feedback"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="new-password-confirm" class="col-sm-3 col-form-label">비밀번호 다시 입력</label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control password-input" id="new-password-confirm" required>
                        <div class="invalid-feedback" id="new-password-confirm-invalid-feedback"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-3 offset-sm-3">
                        <button class="btn btn-primary" id="change-password-btn" type="button">비밀번호 변경하기</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{{/partial}}

{{#partial "customScript"}}
    <script type="application/javascript">
        (function($) {
            $(function() {
                $("#change-password-btn").on("click", function() {
                    var currentPassword = $("#current-password");
                    var newPassword = $("#new-password");
                    var newPasswordConfirm = $("#new-password-confirm");

                    if (currentPassword.val() === "") {
                        $("#current-password-invalid-feedback").text("현재 사용중인 비밀번호를 입력해주세요.");
                        currentPassword.addClass("is-invalid");
                        return;
                    }

                    if (newPassword.val() === "") {
                        $("#new-password-invalid-feedback").text("변경할 비밀번호를 입력 해주세요.");
                        newPassword.addClass("is-invalid");
                        return;
                    }

                    if (newPasswordConfirm.val() === "") {
                        $("#new-password-confirm-invalid-feedback").text("변경할 비밀번호를 한번 더 입력 해주세요.");
                        newPasswordConfirm.addClass("is-invalid");
                        return;
                    }

                    if (newPassword.val() !== newPasswordConfirm.val()) {
                        $("#new-password-confirm-invalid-feedback").text("비밀번호가 일치하지 않습니다.");
                        newPasswordConfirm.addClass("is-invalid");
                        return;
                    }

                    requestChangePassword(currentPassword, newPassword);
                });

                $(".password-input").on("input", function() {
                    $(this).removeClass("is-invalid");
                });

                $("#password-change-success-alert-close-btn").on("click", function() {
                    $("#password-change-success-alert").hide();
                });

                function requestChangePassword(currentPassword, newPassword) {
                    $.ajax({
                        method: "post",
                        url: "/member/change-password",
                        data: JSON.stringify({
                            currentPassword: currentPassword.val(),
                            newPassword: newPassword.val()
                        }),
                        contentType: "application/json; charset=utf-8",
                        success: function () {
                            $("#password-change-success-alert").show();
                            $(".password-input").val("");
                            console.log("[INFO] password changed successfully.");
                        },
                        error: function () {
                            $("#current-password-invalid-feedback").text("현재 비밀번호가 일치하지 않습니다.");
                            currentPassword.addClass("is-invalid");
                            console.log("[INFO] failed to change password");
                        }
                    });
                }
            });
        }(window.jQuery));
    </script>
{{/partial}}

{{> layout}}