<div class="col-md-12">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#savePostsModal">글 등록</button>
</div>

<div class="modal fade" id="savePostsModal" tabindex="-1" role="dialog" aria-labelledby="savePostsLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="savePostsLabel">게시글 등록</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <input type="hidden" name="{{_csrf.parameterName}}" value="{{_csrf.token}}"/>
                    </div>
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요">
                    </div>
                    <div class="form-group">
                        <!-- To-do : 카테고리 자동완성 기능 개발 -->
                        <label for="category"> 카테고리 </label>
                        <input type="text" class="form-control" id="category" placeholder="카테고리를 입력하세요">
                    </div>
                    <div class="form-group">
                        <label for="content"> 내용 </label>
                        <textarea class="form-control" id="content" placeholder="내용을 입력하세요"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btn-save">등록</button>
            </div>
        </div>
    </div>
</div>

{{#partial "customScript"}}
    <script type="application/javascript">
        $('#btnSave').click(function () {
            var title = $('#title').val();
            var category = $('#category').val();
            var content = $('#content').val();

            initErrorMessages();

            var post = {
                title: $('#title').val(),
                category: $('#category').val(),
                content: $('#content').val()
            };

            $.ajax({
                url: '/postMakeUp',
                method: 'POST',
                data: JSON.stringify(post),
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    location.href = '/'
                },
                error: function (response) {
                    // To-do : 에러 처리 개발 해야됨
                    // markingErrorField(response);
                }

            });
        });

        var initErrorMessages = function () {
            $('#title').siblings('.error-message').remove();
            $('#category').siblings('.error-message').remove();
            $('#content').siblings('.error-message').remove();
        }
    </script>
{{/partial}}