{{#partial "body"}}
    <h1>스프링부트로 시작하는 웹 서비스</h1>
    <h2><a href="/login">login</a></h2>
    <h2><a href="/test">Member list</a></h2>
    <h2><a href="/member/post">Post Page</a></h2>
    <h2><a href="/join">join</a></h2>
{{/partial}}

{{> layout}}